<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h3> Business News</h3>
         <ul>
            {% for business_news in business %}
                <li>{{ business_news.title}}</li>
            {% endfor %}
        </ul>

        <h3>Entertainment News</h3>
        <ul>
          {%for entertainment_news in entertainment%}
          <li>{{ entertainment_news.title}}</li>
           {% endfor %}
        </ul>

        <h3>General News</h3>
        <ul>
          {%for general_news in general%}
          <li>{{ general_news.title}}</li>
           {% endfor %}
        </ul>

        <h3>Health News</h3>
        <ul>
          {%for health_news in health%}
          <li>{{ health_news.title}}</li>
           {% endfor %}
        </ul>

        <h3>Science News</h3>
        <ul>
          {%for science_news in science%}
          <li>{{ science_news.title}}</li>
           {% endfor %}
        </ul>

        <h3>Technology News</h3>
        <ul>
          {%for technology_news in technology%}
          <li>{{ technology_news.title}}</li>
           {% endfor %}
        </ul>

        <h3>Sport News</h3>
        <ul>
          {%for sport_news in sport%}
          <li>{{ sport_news.title}}</li>
           {% endfor %}
        </ul>
</body>
</html>