<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
  </head>
  <body>
    {% extends 'base.html'%} {% import 'macros.html' as macro%} {% block content
    %}

    <h4>Business News</h4>
    <ul>
      {{ macro.displayNewsList(business)}}
    </ul>

    <h4>Entertainment News</h4>
    <ul>
      {{ macro.displayNewsList(entertainment)}}
    </ul>

    <h4>General News</h4>
    <ul>
      {{ macro.displayNewsList(general)}}
    </ul>

    <h4>Health News</h4>
    <ul>
      {{ macro.displayNewsList(health)}}
    </ul>

    <h4>Science News</h4>
    <ul>
      {{ macro.displayNewsList(science)}}
    </ul>

    <h4>Technology News</h4>
    <ul>
      {{ macro.displayNewsList(technology)}}
    </ul>

    <h4>Sport News</h4>
    <ul>
      {{ macro.displayNewsList(sport)}}
    </ul>

    {% endblock%}
  </body>
</html>
