<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
  </head>
  <body>
    {% extends 'base.html'%} {% import 'macros.html' as macro%} {% block content
    %}
    <div class="container">
      <form>
        <input
          type="text"
          name="news_query"
          placeholder="Search for a news"
          class="form-control"
        />
        <input type="submit" value="Submit" class="btn btn-outline-success" />
      </form>
    </div>

    <h4>Business News</h4>
    <ul>
      {{ macro.displayNewsList(business)}}
    </ul>

    <h4>Entertainment News</h4>
    <ul>
      {{ macro.displayNewsList(entertainment)}}
    </ul>

    <h4>General News</h4>
    <ul>
      {{ macro.displayNewsList(general)}}
    </ul>

    {% endblock%}
  </body>
</html>
