{% macro displayNewsList(news_list) %} {% for news in news_list %}
<div class="col-lg-4">
  <div class="card" >
    <img class="card-img-top"src="{{ news.url_To_image }}"  height="200px" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">NEWS</h5>
    <p class="card-text">TITLE:{{ news.title}}</p>
    <p class="card-text">AUTHOR:{{news.author}}</p>
    <p class="card-text">DESCRIPTION:{{news.description}}</p>
    <p class="card-text">PUBLISHEDAT:{{news.publishedAt}}</p>
    <p class="card-text">URL:<a href="{{news.url}}" class="btn btn-info">read article</a></p>
   
  </div>
</div>
    
  </div>
  {% endfor %} {% endmacro %} {% macro displayReviews(review_list) %} {% for
  review in review_list %}
  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 review-card">
    <h2>{{ review.title}}</h2>
    <p>{{ review.review | truncate(30) }}</p>
  </div>

  {% endfor %} {% endmacro %}
</div>
